.edgestyle {
}

.nodestyle {
    font-weight: 700;
    font-size: 13px;
    background: #ececec;
    color: #222831 !important;
}

.react-flow__edge-text {
    font-size: 13px;
    font-weight: 700;
}
